[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_SOCKET_URL = "https://vrroom-x6vw.onrender.com"
  VITE_PEER_HOST = "vrroom-x6vw.onrender.com"
  VITE_PEER_PORT = "3001"
  VITE_PEER_PATH = "/peerjs"
  VITE_PEER_SECURE = "true" 