[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_SOCKET_URL = "https://vrroom-backend.herokuapp.com"
  VITE_PEER_HOST = "vrroom-backend.herokuapp.com"
  VITE_PEER_PORT = "443"
  VITE_PEER_PATH = "/peerjs"
  VITE_PEER_SECURE = "true" 