[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  REACT_APP_SOCKET_URL = "https://vrroom-backend.herokuapp.com"
  REACT_APP_PEER_HOST = "vrroom-backend.herokuapp.com"
  REACT_APP_PEER_PORT = "443"
  REACT_APP_PEER_PATH = "/peerjs"
  REACT_APP_PEER_SECURE = "true" 