[build]
  command = "npm run build"
  publish = "frontend/dist"
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  external_node_modules = ["socket.io", "peer"]
  node_bundler = "esbuild" 